html, body {
    height: 100%; 
    margin: 0;    
    padding: 0;
    font-family: 'Caprasimo&family', sans-serif;
}

.navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}


.nav-link {
    color: black !important;
    font-family: 'Nunito', sans-serif; 
    font-size: 16px; 
}
.nav-link:hover {
    text-decoration: underline;
}

img[alt="Healthy Cat"]::after {
    content: attr(alt);
    color: black; 
    font-size: 16px; 
}

h1, h2, h3, h4, h5, h6, .p1, h7 {
    font-family: 'Caprasimo', serif;
}

p li {
    font-family: 'Didact Gothic', sans-serif;
    color: #000000;
}


.grid-item {
    margin-bottom: 10px; 
}

.grid-item img {
    width: 95%;
    height: auto;
    display: block;
    border-radius: 8px;
}

footer {
    margin-top: auto;
    position: relative;
   bottom: 0;
    width: 100%;
}